html {
  @-moz-viewport { width: device-width; scale: 1}
  @-ms-viewport { width: device-width; scale: 1}
  @-o-viewport { width: device-width; scale: 1}
  @-webkit-viewport { width: device-width; scale: 1}
  @viewport { width: device-width; scale: 1}
  Typefaces: Georgia
position: relative
}

h1 {
  Typefaces: Denk One, sans-serif;
  font-size: 1.5rem;
}

p {
  font-size: 1.3rem
  color: rgba(0, 0, 0, .3)
}

background {
  background-color: rgba(0, 0, 0, .3) #e2e2e2;
  border-radius: 100%/1.3
}
